:root {
  --t-base: #212529;
  --t-hl: #4263eb;
  --t-hl-darker: #364fc7;
  --t-focus: #e67700;
}

:focus {
  outline: 4px solid var(--t-focus);
}

::selection {
  color: #fff;
  background: var(--t-hl);
}

body {
  color: var(--t-base);
  font-family: input-mono, monospace;
  font-weight: 400;
  background-color: #f1f3f5;
  line-height: 1.4;
}

button {
  color: #fff;
  background-color: var(--t-hl-darker);
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}

a {
  color: var(--t-hl);
  text-decoration: none;
}

input,
textarea {
  display: block;
  width: 100%;
}

code {
  background-color: #dee2e6;
  padding: 0.2em;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.container--content {
  max-width: 45rem;
}

.resizeable__control {
  display: none;
  width: 100%;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (min-width: 60rem) {
  .resizeable__control {
      display: block;
  }
}

.resizeable__target {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero {
  padding: 3rem 0;
}

.hero__title {
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 45em) {
  .hero__title {
    font-size: 3rem;
    margin: 0;
  }
}

.hero__title > span:first-child {
  text-transform: lowercase;
}

.hero__title > span:nth-child(2) {
  color: var(--t-hl);
}

.hero__desc {
  font-weight: 700;
}

.author {
  padding: 2rem 0;
  font-size: 0.9rem;
  text-align: right;
}

.btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--t-hl-darker);
  padding: 0.5em 1em;
}

.btn > svg {
  width: 1.2rem;
  fill: currentColor;
  margin-right: 0.5rem;
}

.demo {
  color: #fff;
  background: var(--t-base);
  padding: 2rem 0;
  z-index: 2;
  position: relative;
}

.description {
  padding: 3rem 0;
}

.prose > * {
  margin: 0;
}

.prose > * + * {
  margin-top: 1rem;
}

.prose ul {
  list-style: none;
  padding-left: 1.3rem;
}

.prose li {
  position: relative;
}

.prose li + li {
  margin-top: 0.5rem;
}

.prose li::before {
  content: '+';
  font-weight: 700;
  color: var(--t-hl);
  position: absolute;
  left: -1.3rem;
  font-size: 1rem;
}
