.p-plus-container {
  position: relative;
}

.p-plus {
  display: flex;
  position: relative;
  z-index: 0;
}

.p-plus--clone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  visibility: hidden;
}

.p-plus--clone .p-plus__primary-wrapper {
  overflow: hidden;
}

.p-plus--is-showing-overflow .p-plus__overflow {
  display: block;
  top: 100%;
  right: 0;
}

.p-plus:not(.p-plus--is-showing-toggle) .p-plus__toggle-btn {
  display: none;
}

.p-plus--is-hiding-primary .p-plus__toggle-btn {
  flex-grow: 1;
}

.p-plus--is-hiding-primary .p-plus__primary-wrapper {
  display: none;
}

.p-plus__primary-wrapper {
  display: flex;
  flex-grow: 1;
}

.p-plus__primary {
  display: flex;
  flex: 1 0 auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-plus__primary > li {
  flex: 1 0 auto;
}

.p-plus__overflow {
  display: none;
  position: absolute;
}

.p-plus__toggle-btn {
  flex-shrink: 0;
}
